.layout {
  display: flex;
  flex-direction: row; /* sidebar on left, content on right */
  width: 100%;
  min-height: 100vh;
}

.reports-content {
  flex: 1;
  padding: 30px;
  background-color: #f5f5f5;
}
