.header {
  background: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 18px 30px;
  color: #222;
}
.header input {
  margin-right: 15px;
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  color: #222;
}
.profile span {
  font-weight: bold;
  color: #800080;
}
